body {
    background-image: linear-gradient(to right top, #212f45, #1b3a50, #104458, #054f5e, #065a60);
    min-height: 100vh;
}

nav {
    color: white;
    background-color: #182c34;
}

.padding-style {
    padding: 0.5em
}

.btn-custom {
    width:10em;
    background-color: rgb(85, 139, 85);
    margin-top: 0.5em;
}

.btn-red {
    background-color: rgb(210, 66, 66);
}

.btn-blue {
    background-color: rgb(98, 98, 156);
    background-color: rgb(12, 63, 9);
}